<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/hashTags">
<head  th:include="layout :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layout :: tw-header" >
</header>
<section>
    <div class="container">
        <div th:include="dataview :: tw-data-view-above" th:with="myEntity='taskhistory'"></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead th:include="dataview :: tw-data-view-thead">
                    </thead>
                    <tbody>
                    <tr th:each="myPageItem : ${myPageContent}">
                        <td>
                            <span th:include="dataview :: tw-data-view-id" th:with="myPageItem=${myPageItem}"></span>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-2">description:</div>
                                <div class="col-md-10">
                                    <span th:text="${myPageItem.description}">description</span>
                                </div>
                                <div class="col-md-2">taskStatusBefore:</div>
                                <div class="col-md-10">
                                    <span th:text="${myPageItem.taskStatusBefore}">taskStatusBefore</span>
                                </div>
                                <div class="col-md-2">taskStatusNow:</div>
                                <div class="col-md-10">
                                    <span th:text="${myPageItem.taskStatusNow}">taskStatusNow</span>
                                </div>
                                <div class="col-md-2">timeEvent:</div>
                                <div class="col-md-10">
                                    <span th:text="${myPageItem.timeEvent}">timeEvent</span>
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tfoot th:include="dataview :: tw-data-view-tfoot">
                    </tfoot>
                </table>
            </div>
        </div>
        <div th:include="dataview :: tw-data-view-below" th:with="myEntity='taskhistory'"></div>
    </div>
</section>
<footer th:include="layout :: footer" >

</footer>
</body>
</html>
