<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header" >
</header>
<main class="page-content">
    <div class="container">
        <div th:include="layoutTweet :: tw-one-tweet" ></div>

        <!--
        <div th:fragment="tw-show-latest-tweets">
            <div class="row">
                <div class="col-md-12 tw-col-3-wrapper">
                    <div class="thumbnail tw-col-3-box-center tw-tweet">
                        <div>
                            <p>
                                <img th:attr="src=${tweet.user.profileBannerUrl},class=${tweet.user.cssBackgroundImage}" />
                            </p>
                            <p>
                                <a th:href="@{|/user/${tweet.user.screenName}|}">
                                    <img th:attr="src=${tweet.user.profileImageUrl},alt=${tweet.user.description},title=${tweet.user.description},class=${tweet.user.cssProfileBannerUrl}" />
                                </a>
                            </p>
                        </div>
                        <div class="caption">
                            <h2>
                                <a th:href="@{|/user/${tweet.user.screenName}|}">
                                    <span th:text="${tweet.user.name}">Username</span>
                                </a>
                            </h2>
                            <h3>
                                <a th:href="@{|/user/${tweet.user.screenName}|}">
                                    <span>@<span th:text="${tweet.user.screenName}">screenName</span></span>
                                </a>
                            </h3>
                            <p><hr /></p>
                            <p th:if="${tweet.retweetedStatus} == null">
                                <span th:utext="${tweet.formattedText}">Text</span>
                            </p>
                            <p th:if="${tweet.retweetedStatus} == null"><hr/></p>
                            <p th:if="${tweet.retweetedStatus} == null">
                                <i class="fa fa-retweet" aria-hidden="true"></i>
                                <span th:text="${tweet.retweetCount}">12</span>&nbsp;
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span th:text="${tweet.favoriteCount}">23</span>
                            </p>
                            <p th:if="${tweet.retweetedStatus} == null">
                                <span th:if="${page.historyBack}">
                                    <a href="javascript:history.back()">
                                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                        <span>zurück</span>
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div th:if="${tweet.retweetedStatus} != null">
                            <p>RT</p>
                            <div class="thumbnail tw-tweet">
                                <div>
                                    <p>
                                        <img th:attr="src=${tweet.retweetedStatus.user.profileBannerUrl},class=${tweet.user.cssBackgroundImage}" />
                                    </p>
                                    <p>
                                        <a th:href="@{|/user/${tweet.retweetedStatus.user.screenName}|}">
                                            <img th:attr="src=${tweet.retweetedStatus.user.bigProfileImageUrl},alt=${tweet.retweetedStatus.user.description},title=${tweet.retweetedStatus.user.description},class=${tweet.user.cssProfileBannerUrl}"/>
                                        </a>
                                    </p>
                                </div>
                                <div class="caption">
                                    <h2>
                                        <a th:href="@{|/user/${tweet.retweetedStatus.user.screenName}|}">
                                            <span th:text="${tweet.retweetedStatus.user.name}">Username</span>
                                        </a>
                                    </h2>
                                    <h3>
                                        <a th:href="@{|/user/${tweet.retweetedStatus.user.screenName}|}">
                                            <b>@<span th:text="${tweet.retweetedStatus.user.screenName}">fromUser</span></b>
                                        </a>
                                    </h3>
                                    <p><hr/></p>
                                    <p th:utext="${tweet.retweetedStatus.formattedText}">Text</p>
                                    <p><hr/></p>
                                    <p>
                                        <i class="fa fa-retweet" aria-hidden="true"></i>
                                        <span th:text="${tweet.retweetedStatus.retweetCount}">12</span>
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <span th:text="${tweet.retweetedStatus.favoriteCount}">23</span>
                                    </p>
                                </div>
                                <div th:if="${page.historyBack}">
                                    <a href="javascript:history.back()">
                                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                        <span>zurück</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >

</footer>
</body>
</html>
