<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header" >
</header>
<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome to Application Management.</h2>
                <h3>Your Options:</h3>
                <div id="tw-application-management">
                    <div class="list-group">
                        <a class="list-group-item" href="/application/domain/count" th:href="@{/application/domain/count}">
                            <i class="fa fa-database" aria-hidden="true"></i>
                            <span>Count Entities</span>
                        </a>
                        <hr class="divider" role="separator"  />
                        <a class="list-group-item" href="/user/all" th:href="@{/user/all}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span>List All Users</span>
                        </a>
                        <a class="list-group-item" href="/user/notyetfriends" th:href="@{/user/notyetfriends}">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            <span>List Users, who are Not Yet Friends</span>
                        </a>
                        <a class="list-group-item" href="/user/onlist" th:href="@{/user/onlist}">
                            <i class="fa fa-leaf" aria-hidden="true"></i>
                            <span>List Users, who are On List</span>
                        </a>
                        <a class="list-group-item" href="/user/notyetonlist" th:href="@{/user/notyetonlist}">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                            <span>List Users, who are Not Yet On List</span>
                        </a>
                        <a class="list-group-item" href="/test/user/onlist/renew" th:href="@{/test/user/onlist/renew}">
                            <i class="fa fa-leaf" aria-hidden="true"></i>
                            <span>Update List of Users On List</span>
                        </a>
                        <hr class="divider" role="separator" />
                        <a class="list-group-item" href="/task/all" th:href="@{/task/all}">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                            <span>List Tasks</span>
                        </a>
                        <a class="list-group-item" href="/test/getTestData" th:href="@{/test/getTestData}">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span>Start Task: Create Test Data</span>
                        </a>
                        <a class="list-group-item" href="/task/scheduled/tweets/fetch" th:href="@{/task/scheduled/tweets/fetch}">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                            <span>Start Task: fetchTweetsFromTwitterSearch</span>
                        </a>
                        <a class="list-group-item" href="/task/scheduled/tweets/update" th:href="@{/task/scheduled/tweets/update}">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                            <span>Start Task: updateTweets</span>
                        </a>
                        <a class="list-group-item" href="/task/scheduled/users/list/fetch" th:href="@{/task/scheduled/users/list/fetch}">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                            <span>Start Task: fetchUsersFromDefinedUserList</span>
                        </a>
                        <a class="list-group-item" href="/task/scheduled/users/mentions/update" th:href="@{/task/scheduled/users/mentions/update}">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                            <span>Start Task: updateUserProfilesFromMentions</span>
                        </a>
                        <a class="list-group-item" href="/task/scheduled/users/update" th:href="@{/task/scheduled/users/update}">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                            <span>Start Task: updateUserProfiles</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >

</footer>
</body>
</html>

