<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/hashTags">
<head  th:include="layout :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layout :: tw-header" >
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome to Application Management.</h2>
                <h3>Your Options:</h3>
                <div id="tw-application-management">
                    <div class="list-group">
                        <a class="list-group-item" href="/application/domain/count" th:href="@{/application/domain/count}"><i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;Count Entities</a>
                        <hr class="divider" role="separator"  />
                        <a class="list-group-item" href="/user/all" th:href="@{/user/all}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;List All Users</a>
                        <a class="list-group-item" href="/user/notyetfriends" th:href="@{/user/notyetfriends}"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;List Users, who are Not Yet Friends</a>
                        <a class="list-group-item" href="/user/onlist" th:href="@{/user/onlist}"><i class="fa fa-leaf" aria-hidden="true"></i>&nbsp;&nbsp;List Users, who are On List</a>
                        <a class="list-group-item" href="/user/notyetonlist" th:href="@{/user/notyetonlist}"><i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;&nbsp;List Users, who are Not Yet On List</a>
                        <a class="list-group-item" href="/test/user/onlist/renew" th:href="@{/test/user/onlist/renew}"><i class="fa fa-leaf" aria-hidden="true"></i>&nbsp;&nbsp;Update List of Users On List</a>
                        <hr class="divider" role="separator" />
                        <a class="list-group-item" href="/task/all" th:href="@{/task/all}"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;&nbsp;List Tasks</a>
                        <a class="list-group-item" href="/test/getTestData" th:href="@{/test/getTestData}"><i class="fa fa-cubes" aria-hidden="true"></i>&nbsp;&nbsp;Start Task: Create Test Data</a>
                        <a class="list-group-item" href="/task/scheduled/tweets/fetch" th:href="@{/task/scheduled/tweets/fetch}"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;&nbsp;Start Task: fetchTweetsFromTwitterSearch</a>
                        <a class="list-group-item" href="/task/scheduled/tweets/update" th:href="@{/task/scheduled/tweets/update}"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;&nbsp;Start Task: updateTweets</a>
                        <a class="list-group-item" href="/task/scheduled/users/list/fetch" th:href="@{/task/scheduled/users/list/fetch}"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;&nbsp;Start Task: fetchUsersFromDefinedUserList</a>
                        <a class="list-group-item" href="/task/scheduled/users/mentions/update" th:href="@{/task/scheduled/users/mentions/update}"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;&nbsp;Start Task: updateUserProfilesFromMentions</a>
                        <a class="list-group-item" href="/task/scheduled/users/update" th:href="@{/task/scheduled/users/update}"><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;&nbsp;Start Task: updateUserProfiles</a>
                    </div>
                </div>
                <span th:if="${page.historyBack}">
                    <a href="javascript:history.back()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;zurück</a>
                </span>
            </div>
        </div>
    </div>
</section>
<footer th:include="layout :: footer" >

</footer>
</body>
</html>

