<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/tags">
<head  th:include="layout :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layout :: tw-header" >
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span  class="tw-pager-arrow tw-pager-up"  th:if="${latestTweets.hasPrevious()}">
                    <a href="" th:href="@{|/hashtag/tweet/${hashtagText}?page=${latestTweets.previousPageable().pageNumber}|}">
                        <span>
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
            </div>
        </div>
        <div th:include="timeline :: tw-show-latest-tweets" ></div>
        <div class="row">
            <div class="col-md-12">
                <span class="tw-pager-arrow tw-pager-down" th:if="${latestTweets.hasNext()}">
                    <a href="" th:href="@{|/hashtag/tweet/${hashtagText}?page=${latestTweets.nextPageable().pageNumber}|}" >
                        <span>
                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>
<footer th:include="layout :: footer" >

</footer>
</body>
</html>
