<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/hashTags">
<head  th:include="layout :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layout :: tw-header" >
</header>
<main class="page-content">
    <div class="container">
        <div th:include="dataview :: tw-data-view-above" th:with="myEntity='tickersymbol'"></div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead th:include="dataview :: tw-data-view-thead">
                    </thead>
                    <tbody>
                    <tr th:each="myPageItem : ${myPageContent}">
                        <td>
                            <span th:include="dataview :: tw-data-view-id" th:with="myPageItem=${myPageItem}"></span>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-2">tickerSymbol:</div>
                                <div class="col-md-10">
                                    <span th:text="${myPageItem.tickerSymbol}">tickerSymbol</span>
                                </div>
                                <div class="col-md-2">url:</div>
                                <div class="col-md-10">
                                    <a href="" th:href="@{|${myPageItem.url}|}" target="_blank">
                                        <span th:text="${myPageItem.url}">url</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span th:include="dataview :: tw-data-view-common-fields" th:with="myPageItem=${myPageItem}"></span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot th:include="dataview :: tw-data-view-tfoot">
                    </tfoot>
                </table>
            </div>
        </div>
        <div th:include="dataview :: tw-data-view-below" th:with="myEntity='tickersymbol'"></div>
    </div>
</main>
<footer th:include="layout :: footer" >

</footer>
</body>
</html>
