<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/tags">
<head  th:include="layout :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layout :: tw-header" >
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 tw-col-4-wrapper">
                <div class="thumbnail tw-col-4-box" th:each="tweet : ${latestTweets}">
                    <a href="" th:href="@{|/profile/${tweet.user.screenName}|}"><img
                            src="" alt="Alt-Text"
                            th:attr="src=${tweet.user.bigProfileImageUrl},alt=${tweet.user.description}" /></a>
                    <div class="caption">
                        <h2><a href="" th:href="@{|/profile/${tweet.user.screenName}|}"><span th:text="${tweet.user.name}">Username</span></a></h2>
                        <h3><a href="" th:href="@{|/profile/${tweet.user.screenName}|}"><b>@<span th:text="${tweet.user.screenName}">fromUser</span></b></a></h3>
                        <p th:text="${tweet.text}">Text</p>
                    </div>
                </div>
                <span th:if="${page.historyBack}">
                    <a href="javascript:history.back()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>zurück</a>
                </span>
            </div>
        </div>
    </div>
</section>
<footer th:include="layout :: footer" >

</footer>
</body>
</html>