<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/tags">
<head  th:include="layout :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layout :: tw-header" ></header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 tw-col-4-wrapper">
                <div class="thumbnail tw-col-4-box" th:each="user : ${users}">
                    <p>&nbsp;</p>
                    <a href="" th:href="@{|/profile/${user.screenName}|}"><img
                            src="" alt="Alt-Text"
                            th:attr="src=${user.bigProfileImageUrl},alt=${user.description}" /></a>
                    <div class="caption">
                        <h2><a href="" th:href="@{|/profile/${user.screenName}|}"><span th:text="${user.name}">name</span></a></h2>
                        <h3><a href="" th:href="@{|/profile/${user.screenName}|}"><b>@<span th:text="${user.screenName}">screenName</span></b></a></h3>
                        <p th:if="${user.description != null}"><span th:utext="${user.formattedDescription}">description</span></p>
                        <p th:if="${user.location != null}"><span class="map-icon map-icon-postal-code"></span>&nbsp;&nbsp;<span th:text="${user.location}">location</span></p>
                        <p th:if="${user.url != null}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;<span th:utext="${user.formattedUrl}">url</span></p>
                        <p th:if="${user.createdDate}"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Seit <span th:text="${#calendars.format(user.createdDate,'dd MMMM yyyy')}">createdDate</span></p>
                        <p><hr/></p>
                        <p>
                            <div class="row">
                                <div class="col-md-8"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Tweets:</div>
                                <div class="col-md-4 text-right"><span th:text="${user.statusesCount}">statusesCount</span></div>
                            </div>
                            <div class="row">
                               <div class="col-md-8"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Folge ich:</div>
                               <div class="col-md-4 text-right"><span th:text="${user.friendsCount}">friendsCount</span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-8"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;Follower:</div>
                                <div class="col-md-4 text-right"><span th:text="${user.followersCount}">followersCount</span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-8"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;&nbsp;Gefällt mir:</div>
                                <div class="col-md-4 text-right"><span th:text="${user.favoritesCount}">favoritesCount</span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-8"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Listen:</div>
                                <div class="col-md-4 text-right"><span th:text="${user.listedCount}">listedCount</span></div>
                            </div>
                        </p>
                    </div>
                </div>
                <span th:if="${page.historyBack}">
                  <a href="javascript:history.back()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>zurück</a>
                </span>
            </div>
        </div>
    </div>
</section>
<footer th:include="layout :: footer" >
</footer>
</body>
</html>